* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: flex-start;
}

.header {
  background-color: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  padding-left: 10px;
  align-self: top;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.config__panel {
  position: relative;
  background: rgba(92, 92, 92, 1);
  height: 100vh;
  width: 550px;
  overflow: hidden;
  overflow-y: scroll;
}

.add__btn {
  position: relative;
  left: 40%;

}


.slides {
  background-color: rgb(87, 87, 87);
}

.slide {
  position: relative;
  display: grid;
  align-items: center;
  background-color: rgba(196, 196, 196, 1);
  margin: 15px;
  padding: 5px;
  font-size: 130%;
  border-radius: 10px;
}

.remove__icon {
  display: flexbox;

  grid-column: 2;
  grid-row: 1;
  cursor: pointer;
  /* margin: 10px; */
  font-size: 60px;
  color: rgba(255, 83, 83, 1);
}

.dragging__icon {
  display: flexbox;
  grid-column: 3;
  grid-row: 1;
  cursor: grab;
  font-size: 50px;
  margin: 10px;
}

.current {
  background: whitesmoke;
}

.select__format {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
  width: 45%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin: 0.1em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.input__format {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
  width: 45%;
  font-size: 1.25rem;
  padding: 0.25em 0.5em;
  margin: 0.1em;
  line-height: 1.1;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0.25em;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  resize: none;
}

.label__format {
  display: inline-flex;
  width: 7.25rem;
  /* width: 0; */
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgb(118, 118, 118);

}

::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;


}


.slideshow__window {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.image {
  /* background-color: aquamarine; */
  position: relative;
  width: 70vmax;
  height: 90vmin;
  object-fit: scale-down;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 1%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 1%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide__img {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.slide__img.active {
  opacity: 1;
  transition-duration: 0.5s;
  /* transform: scale(1.08); */
}

/* Temp */
.down {
  position: absolute;
  bottom: 2pc;
}